{% extends "base.html" %}

{% block content %}



<div class="container-fluid">
    <table style="border: 1px solid black;border-collapse: collapse;" class="table" id="ajax_table">
        <thead>
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;">Draft Order</th>
                <th style="border: 1px solid black;">Team Name</th>
                <th style="border: 1px solid black;">Current Bid</th>
                <th style="border: 1px solid black;">Still In</th>
                <th style="border: 1px solid black;">Pass Available</th>
            </tr>
        </thead>
        <tbody>
            {% for team in auction_users_list %}
            {% if current_auction_manager.active_bidder == team.draft_order %}
                <tr style="background-color:red; border: 1px solid black;"> 
            {% else %} 
                <tr style="border: 1px solid black;">
                {% endif %}
                    <td style="border: 1px solid black;">{{team.draft_order}}</td>
                    <td style="border: 1px solid black;">{{team.team_name}}</td>
                    <td style="border: 1px solid black;">{{team.current_bid}}</td>
                    <td style="border: 1px solid black;">{{team.still_in_auction}}</td>
                    <td style="border: 1px solid black;">{{team.pass_available}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<input type="text" required="" name="username" maxlength="150" id="id_username" autofocus="">

<button id="testbutton" name="tbutton" >Trigger Ajax</button>

{% endblock content %}

{% block javascript %}
<script>
    $("#id_username").change(function () {
      console.log( $(this).val() );
    });
</script>

<!-- <script type="text/javascript">
    $('#id_testbutton').click(function(e){
    e.preventDefault();
    var test_text = 'hey its me ajax'
    $.ajax(
    {
        type:"GET",
        url: "{% url 'ajax_table' %}",
        data:{
            "test": test_text,
        },
        success: function( response ) 
        {
            console.log("We did it?")
            if (data['success'])
                alert("Test Success")
        },
        error: function(response) {
            console.log("We did bad?")
            alert('error');
        }
     })
}); -->
</script>

{% endblock javascript %}