{% extends 'base.html' %}

{% block navbar %}

{% include 'nav.html' %}

{% endblock navbar %}

{% block title %}{% endblock %}

{% block content %}

<div class="card mx-auto m-5" style="width: 40rem;">
    <h5 class="card-header text-center">Welcome to the 2024 TRIST Draft!</h5>
    <div class="card-body">
      <p class="card-text">
        {% comment %} <p><a href="https://join.freeconferencecall.com/jtoddrist">Web Link: https://join.freeconferencecall.com/jtoddrist</a></p> {% endcomment %}

        
        <div style="text-align:center" class="d-grid gap-2 mx-auto">
          <p><a> <strong>IF YOU ARE NOT AT TODD'S HOUSE - CALL IN VIA PHONE OR WEB:</strong> </a></p>
          <p><a><strong>Phone:</strong> (971) 379-9200</a></p>
          <a type="button" role="button" href="/auction" class="btn btn-success btn-lg">CONTINUE TO DRAFT</a>
        </div>
      </p>
    </div>
  </div>

{% endblock %}

